.card {
    float: left;
    width: 30%;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    background-color: lightgray;
  }
  header{
    background-color: darkblue;
  }
  .clear{
    clear: both;
  }
  .card-container{
    display: flex;
    justify-content: center;
  }
  .skills-container {
    columns: 3;
    column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  li {
    break-inside: avoid;
  }
  .about-me {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.about-me-text {
  color: white;
}

.about-me-image {
  align-self: center;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
    /* Style for the scroll-down text */
    .scroll-text {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      background-color: blue;
      color: white;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
    body {
      background-color: rgb(195, 203, 211);
    }
    .card {
      padding: 10px;
    }